node_modules/
dist/
**/src/generated/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Env
.env
.env.local
.env.*.local

# Coverage
coverage/
